# System files
.DS_Store
Thumbs.db

# Environment files
.env

# Dependencies
node_modules/
venv/

# Build output
dist/
build/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo
